<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BodyBlizzSpaVer2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <BodyBlizzSpaVer2.Properties.Settings>
            <setting name="LogInTime" serializeAs="String">
                <value>01:00:00 PM</value>
            </setting>
            <setting name="lateFrom" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lateTo" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="lateFrom2" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="lateTo2" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="lateFrom3" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="lateTo3" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="lateFrom4" serializeAs="String">
                <value>31</value>
            </setting>
            <setting name="lateTo4" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="deduction" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="deduction2" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="deduction3" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="deduction4" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="haldayTime" serializeAs="String">
                <value>02:01:00 PM</value>
            </setting>
            <setting name="halfdayDeduction" serializeAs="String">
                <value>65</value>
            </setting>
            <setting name="absent" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="logOutTime" serializeAs="String">
                <value>12:30:00 AM</value>
            </setting>
            <setting name="undertime" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="cutOffTime" serializeAs="String">
                <value>02:30:00 AM</value>
            </setting>
            <setting name="connectionDB" serializeAs="String">
                <value>localhost</value>
            </setting>
        </BodyBlizzSpaVer2.Properties.Settings>
    </userSettings>
</configuration>